.cabecalho{
    text-align: center;
    font-size: 16px;
    background-image: var(--bs-gradient);
    height: 50px;
    padding: 10px 0 0 0 !important;
    margin: 0 !important;
}

.menu{
    background-color: #586273;
    padding-left: 100px;
    min-height: 50px;
}

.menu img{
    min-width: 140px;
    min-height: 60px;
    width: 10%;
    padding: 10px 0 0 20px;
}

.bloco-jumbotron{
    background-color:rgba(82, 92, 163, 0.5);
    padding: 10%;
}

.buttonJB{
    background-color: #8A56D6;
    color: honeydew;
    border: 1px solid #5a27a7;
    box-shadow: 0px 5px 5px #40197a;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
}

.jumbotron-bg{
    background-image: url(https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.propaganda-bg{
    background-color: #253352;
    padding: 2%;
    text-align: center;
    color: cornsilk;
}

.propaganda-bg img{
    min-width: 140px;
    min-height: 60px;
    width: 10%;
}

.propaganda-bg h1{
    padding-bottom: 40px;
}

.video{
    width: 965px;
    height: 645px;
    padding-top: 3px;
    background-color:whitesmoke;
    box-shadow: 0px 0px 30px black;
    margin: 0 auto 0 auto;
}

.clientes{
    text-align: center;
}

.div-clientes{
    margin: 0 auto 0 auto;
}

.clientes span{
    background-color: rgb(124, 9, 124);
    border: 1px solid red;
    margin: 10% 20px;
    height: 400px;
    width: 100%;
}

.clientes img{
    width: 300px;
    height: 290px;
    border-radius: 170px;
    border: 4px solid rgb(161, 159, 159);
    margin-top: 20px;
}

.clientes p{
    margin-top: 10px;
}

.endereco{
    background-color: rgb(165, 113, 250);
    font-size: 22px;
    height: 1000px;
    padding: 100px 0;
}

.container-endereco{
    width: 960px;
    height: 828px;  
    color: rgb(252, 242, 227);
    background-color: rgb(106, 68, 168);
    text-align: center;
    padding-top: 40px;
    box-shadow: 0px 0px 5px black;
    margin: 0px auto 0px auto;
}

.rodape{
    text-align: center;
    padding: 1% 0;
    background-color: slategrey;
    color: rgb(250, 242, 229);
    height: 150px;
    
}

.rodape i{
    font-size: 40px;
}

#insta{
    color: rgb(36, 36, 36);
    transition: 0.3s;
}

#insta:hover{
    color: rgb(214, 8, 152);
}

#tt{
    color: rgb(36, 36, 36);
    transition: 0.3s;
}

#tt:hover{
    color: rgb(138, 171, 241);
}

#face{
    color: rgb(36, 36, 36);
    transition: 0.3s;
}

#face:hover{
    color: rgb(62, 123, 236);
}

#div-depoimentos{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
}
.div-clientes{
    width: 250px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color:gainsboro;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
    border: solid 1.5px rgb(190, 190, 190);
    margin: 20px;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    
}
.div-clientes:hover{
    background-color: rgb(201, 199, 199);
}
.div-img-cliente img{
    width: 230px;
    height: 220px;
    padding: 10px;
    border-radius: 50%;
}
.div-descricao-clientes{
    width: 100%;
    height: 55px;
    padding-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
    color: rgb(139, 139, 139);
}
.div-autor-clientes{
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #586273;
    margin: 20px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(255, 245, 245);
}
